.input-generator{
    box-shadow:2px 6px 8px grey;
    margin-bottom:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width:600px;
    margin:10px 2px;

}

.input-generator .input-group{
    padding:.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-generator .input-label{
    text-align: left;
}

.input-generator .input-item{
    margin-top: 5px;
    line-height: 1.5em;
}